<header class ="container-fluid">
    <div class="top-img">
        <div class="top-text">
            <h1>Portfolios</h1>
            <p>のぶおのポートフォリオサイトです</p>
        </div>
    </div>
</header>
<div class ="container-fluid">
    <div class="second-img" id ="feature">
        <div class="second-text">
            <h2>Feature</h2>
            <p>make oneです。<br>「大学生のゼロイチ」を理念に掲げています。</p>
        </div>
    </div>
        <div class="second-img" id="imformation">
            <div class="third-text">
            <h2>Imformation</h2>
            <div class="container">
                <div class="row">
                <div class="col-md-4 ">
                    <div class="info ">
                    <i class="fab fa-adobe icon"></i>
                    <h3>adobe</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                    <i class="fab fa-apple icon"></i>
                    <h3>apple</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                    <i class="fab fa-battle-net icon"></i>
                    <h3>battle-net</h3>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class ="service-list" id="service">
        <h2>Service</h2>
            <div class="row">
            <div class="col-md-6 order-md-1">

                <%= image_tag "service1.jpg" ,alt:"service1" ,class:"service-img rounded" %>
            </div>
            <div class="col-md-6 service-contents order-md-2">
                <h3>Service1</h3>
                <hr color=white>
                <p>パソコンかたかた</p>
                <a href="#" class="btn btn-outline-light btn-outline-light btn-lg " tabindex="-1" role="button" >KataKata link</a>
            </div>

            <div class="col-md-6 order-md-4">
                <%= image_tag "service2.jpg" ,alt:"service2" ,class:"service-img rounded" %>
            </div>
            <div class="col-md-6 service-contents order-md-3">
                <h3>Service2</h3>
                <hr color=white>
                <p>パソコンかたかた</p>
                <a href="#" class="btn btn-outline-light btn-outline-light btn-lg " tabindex="-1" role="button" >KataKata link</a>
            </div>
            <div class="col-md-6 order-md-5">
                <%= image_tag "service3.jpg" ,alt:"service3" ,class:"service-img rounded" %>
            </div>
            <div class="col-md-6 service-contents order-md-6">
                <h3>Service3</h3>
                <hr color=white>
                <p>パソコンかたかた</p>
                <a href="#" class="btn btn-outline-light btn-outline-light btn-lg " tabindex="-1" role="button" >KataKata link</a>
            </div>
        </div>
        </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide carousel-original" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <%= image_tag "slide01.jpg" ,class:"d-block w-100" ,alt:"no picture"%>
                <div class="carousel-caption d-none d-md-block">
                    <h5>作品１</h5>
                    <p>夕陽</p>
                </div>
            </div>
            <div class="carousel-item">
                <%= image_tag "slide02.jpg", class:"d-block w-100" ,alt:"no picture" %>
                <div class="carousel-caption d-none d-md-block">
                    <h5>作品２</h5>
                    <p>空</p>
                </div>
            </div>
            <div class="carousel-item">
                <%= image_tag "slide03.jpg",class:"d-block w-100" ,alt:"no picture" %>
                <div class="carousel-caption d-none d-md-block">
                    <h5>作品３</h5>
                    <p>山</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
</div>
